<form action="<%= @table_name %>_update.php" method="POST">
<% @columns.each do |c| %>
  <% if c["column_name"] != "id" %>
    <%= c["column_name"] %>: <input type="<%= c["data_type"] || "text" %>" name="<%= c["column_name"] %>"><br>
  <% end %>
<% end %>
<input type="submit">
</form>
