<?php 

require_once 'db-connect.php';

$result = pg_query($dbconn, "SELECT * FROM <%= @table_name %>");
if (!$result) {
    echo "An error occurred.\n";
    exit;
}

$arr = pg_fetch_all($result);

echo '<table>
        <thead>
         <% @columns.each do |c| %>
           <th><%= c["column_name"] %></th>
         <% end %>
        </thead>
        <tbody>';

foreach($arr as $array)
{
    echo '<tr>
            <% @columns.each do |c| %>
              <td>'.$array['<%= c["column_name"] %>'].'</td>
            <% end %>
          </tr>';
}
echo '</tbody></table>';
pg_close($dbconn);
?>
